@page "/"

    <Message Title="Hello, world!">
        <h1>Welcome to your new app.</h1>
    </Message>


@*step 1*@
@*
<div class="alert alert-success fade show" role="alert">
    <strong>Hello, world!</strong>
    <p class="card-text">
        <h1>Welcome to your new app.</h1>
    </p>
</div>
    *@

