################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestApp/.vs/TestApp/config
/TestApp/.vs/TestApp/v16
/TestApp/TestApp/bin/Debug/netcoreapp3.1
/TestApp/TestApp/obj
